*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
    padding: 0;
}

.game-board {
    height: 50vh;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: black;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
}